In [648]:
import pandas as pd
import numpy as np

In [649]:
f_concentrations = pd.read_excel('data/female_concentrations.xlsx')
m_concentrations = pd.read_excel('data/male_concentrations.xlsx')

q_dixon = pd.read_excel('data/dixon_q_test.xlsx')

In [650]:
q_dixon.rename(columns={'probability of incorrectly rejecting the suspected outlier': 'number of samples in the data set'}, inplace=True)
q_dixon.drop(index=0, inplace=True)
q_dixon.reset_index(drop=True, inplace=True)
q_dixon

  number of samples in the data set    0.1   0.05   0.04   0.02   0.01
0                                 3  0.941  0.970  0.976  0.988  0.994
1                                 4  0.765  0.829  0.846  0.889  0.926
2                                 5  0.642  0.710  0.729  0.780  0.821
3                                 6  0.560  0.625  0.644  0.698  0.740
4                                 7  0.507  0.568  0.586  0.637  0.680
5                                 8  0.468  0.526  0.543  0.590  0.634
6                                 9  0.437  0.493  0.510  0.555  0.598
7                                10  0.412  0.466  0.483  0.527  0.568

In [651]:
q_dixon.to_excel('data/q_dixon.xlsx')

In [652]:
## With the concentrations of each compound for all tested individuals, perform the Dixon's Q test to determine 
## if there are any significant outliers among the results.

In [653]:
q_dixon.columns = q_dixon.columns.str.strip()
q_dixon.columns = pd.to_numeric(q_dixon.columns, errors='ignore')
print("Column names:", q_dixon.columns)

try:
    q_critical_value = q_dixon.loc[q_dixon['number of samples in the data set'] == 3, '0.05'].values[0]
    print(f"Critical Q value for 3 samples at 0.05 level: {q_critical_value}")
except IndexError:
    print("Could not find the critical value. Make sure the value exists in the data.")
except KeyError:
    print("Could not find the column 0.05. Check the column names.")

Column names: Index(['number of samples in the data set', nan, '0.05', '0.04', '0.02',
       '0.01'],
      dtype='object')
Critical Q value for 3 samples at 0.05 level: 0.97

In [654]:
def q_dixon_test(values, q_critical):
    values = sorted(values)
    R = values[-1] - values[0]
    
    if R == 0:
        raise ValueError("Values are identical; cannot compute Q values.")
    
    Q_min = round(((values[1] - values[0]) / R), 3)
    Q_max = round(((values[-1] - values[-2]) / R), 3)

    is_outlier_min = Q_min > q_critical
    is_outlier_max = Q_max > q_critical
    
    return is_outlier_min, is_outlier_max, Q_min, Q_max

In [655]:
results = []

for index, row in f_concentrations.iterrows():
    compound = row['Name of the chemical compound']
    concentrations = [
        row['concentrations FEMALE 1 (µg/g)'],
        row['concentrations FEMALE 2 (µg/g)'],
        row['concentrations FEMALE 3 (µg/g)']
    ]

    try:
        is_outlier_min, is_outlier_max, Q_min, Q_max = q_dixon_test(concentrations, q_critical_value)
        
        results.append({
            'Compound': compound,
            'Q_min': f"{Q_min:.3f}",
            'Q_max': f"{Q_max:.3f}",
            'Min Outlier': is_outlier_min,
            'Max Outlier': is_outlier_max
        })

    except ValueError as e:
        print(f"Error for compound {compound}: {e}")

In [656]:
q_dixon_female = pd.DataFrame(results)

if q_dixon_female['Min Outlier'].any() or q_dixon_female['Max Outlier'].any():
    print("Outliers found in the data. These should be reviewed and possibly removed.")
else:
    print("No significant outliers found in the data. No need for further action.")

def highlight_outliers(row):
    color = 'background-color: red' if row['Min Outlier'] or row['Max Outlier'] else ''
    return [color] * len(row)

q_dixon_female = q_dixon_female.style.apply(highlight_outliers, axis=1)

q_dixon_female

No significant outliers found in the data. No need for further action.

In [657]:
q_dixon_female.to_excel('data/q_dixon_female_1.xlsx')

In [658]:
## There are no significant outliers among the data for females. The next step is to perform Dixon's Q test for the males.

In [659]:
q_dixon.columns = q_dixon.columns.str.strip()
q_dixon.columns = pd.to_numeric(q_dixon.columns, errors='ignore')
print("Column names:", q_dixon.columns)

try:
    q_critical_value = q_dixon.loc[q_dixon['number of samples in the data set'] == 4, '0.05'].values[0]
    print(f"Critical Q value for 3 samples at 0.05 level: {q_critical_value}")
except IndexError:
    print("Could not find the critical value. Make sure the value exists in the data.")
except KeyError:
    print("Could not find the column 0.05. Check the column names.")

Column names: Index(['number of samples in the data set', nan, '0.05', '0.04', '0.02',
       '0.01'],
      dtype='object')
Critical Q value for 3 samples at 0.05 level: 0.829

In [660]:
def q_dixon_test(values, q_critical):
    values = sorted(values)
    R = values[-1] - values[0]
    
    if R == 0:
        raise ValueError("Values are identical; cannot compute Q values.")
    
    Q_min = round(((values[1] - values[0]) / R), 3)
    Q_max = round(((values[-1] - values[-2]) / R), 3)

    is_outlier_min = Q_min > q_critical
    is_outlier_max = Q_max > q_critical
    
    return is_outlier_min, is_outlier_max, Q_min, Q_max

In [661]:
results = []

for index, row in m_concentrations.iterrows():
    compound = row['Name of the chemical compound']
    concentrations = [
        row['concentrations MALE 1 (µg/g)'],
        row['concentrations MALE 2 (µg/g)'],
        row['concentrations MALE 3 (µg/g)'],
        row['concentrations MALE 4 (µg/g)']
    ]

    try:
        is_outlier_min, is_outlier_max, Q_min, Q_max = q_dixon_test(concentrations, q_critical_value)
        
        results.append({
            'Compound': compound,
            'Q_min': f"{Q_min:.3f}",
            'Q_max': f"{Q_max:.3f}",
            'Min Outlier': is_outlier_min,
            'Max Outlier': is_outlier_max
        })

    except ValueError as e:
        print(f"Error for compound {compound}: {e}")

In [662]:
q_dixon_male = pd.DataFrame(results)

if q_dixon_male['Min Outlier'].any() or q_dixon_male['Max Outlier'].any():
    print("Outliers found in the data. These should be reviewed and possibly removed.")
else:
    print("No significant outliers found in the data. No need for further action.")

def highlight_outliers(row):
    color = 'background-color: red' if row['Min Outlier'] or row['Max Outlier'] else ''
    return [color] * len(row)

q_dixon_male = q_dixon_male.style.apply(highlight_outliers, axis=1)

q_dixon_male

Outliers found in the data. These should be reviewed and possibly removed.

In [663]:
q_dixon_male.to_excel('data/q_dixon_male_1.xlsx')

In [664]:
## Based on the obtained results, the minimum value for β-sitosterol and the maximum value for myristic acid should be discarded. 
## The next step is to repeat the Dixon's Q test for these two compounds.

In [665]:
m_concentrations['Name of the chemical compound'] = m_concentrations['Name of the chemical compound'].str.strip()

print("\nUnique compound names after stripping spaces:")
print(m_concentrations['Name of the chemical compound'].unique())

filtered_df = m_concentrations.loc[
    m_concentrations['Name of the chemical compound'].isin(['myristic acid', 'β-sitosterol'])
].copy()

print("\nFiltered DataFrame:")
print(filtered_df)

filtered_df['result 1'] = None
filtered_df['result 2'] = None
filtered_df['result 3'] = None

for index, row in filtered_df.iterrows():
    concentrations = [
        row['concentrations MALE 1 (µg/g)'],
        row['concentrations MALE 2 (µg/g)'],
        row['concentrations MALE 3 (µg/g)'],
        row['concentrations MALE 4 (µg/g)']
    ]

    if row['Name of the chemical compound'] == 'myristic acid':
        concentrations.remove(max(concentrations))
    elif row['Name of the chemical compound'] == 'β-sitosterol':
        concentrations.remove(min(concentrations))
    
    filtered_df.loc[index, 'result 1'] = concentrations[0]
    filtered_df.loc[index, 'result 2'] = concentrations[1]
    filtered_df.loc[index, 'result 3'] = concentrations[2]

filtered_df = filtered_df[['Name of the chemical compound', 'result 1', 'result 2', 'result 3']]

filtered_df

Unique compound names after stripping spaces:
['lactic acid' 'glycerol' 'myristic acid' 'palmitic acid' 'linoleic acid'
 'oleic acid' 'stearic acid' 'methyl ether 3 (unidentified)'
 'methyl ether 4 (unidentified)' 'methyl ether 5 (unidentified)'
 'methyl ether 6 (unidentified)' 'methyl ether 7 (unidentified)'
 'methyl ether 8 (unidentified)' 'methyl ether 9 (unidentified)'
 'cholesterol' 'β-sitosterol']

Filtered DataFrame:
    Unnamed: 0 Name of the chemical compound  concentrations MALE 1 (µg/g)  \
2            2                 myristic acid                          4.93
15          15                  β-sitosterol                          8.42

    concentrations MALE 2 (µg/g)  concentrations MALE 3 (µg/g)  \
2                           1.11                          1.21
15                          8.13                          1.94

    concentrations MALE 4 (µg/g)
2                           1.25
15                          8.33

   Name of the chemical compound result 1 result 2 result 3
2                  myristic acid     1.11     1.21     1.25
15                  β-sitosterol     8.42     8.13     8.33

In [666]:
filtered_df.to_excel('data/q_dixon_male_filtered.xlsx')

In [667]:
q_critical_value = q_dixon.loc[q_dixon['number of samples in the data set'] == 3, '0.05'].values[0]
print(f"Critical Q value for 3 samples at 0.05 level: {q_critical_value}")

def q_dixon_test(values, q_critical):
    values = sorted(values)
    R = values[-1] - values[0] 

    if R == 0:
        raise ValueError("Values are identical; cannot compute Q values.")
        
    Q_min = round((values[1] - values[0]) / R, 3)
    Q_max = round((values[-1] - values[-2]) / R, 3)

    is_outlier_min = Q_min > q_critical
    is_outlier_max = Q_max > q_critical
    
    return is_outlier_min, is_outlier_max, Q_min, Q_max

Critical Q value for 3 samples at 0.05 level: 0.97

In [668]:
results = []

for index, row in filtered_df.iterrows():
    compound = row['Name of the chemical compound']
    concentrations = [row['result 1'], row['result 2'], row['result 3']]

    try:
        is_outlier_min, is_outlier_max, Q_min, Q_max = q_dixon_test(concentrations, q_critical_value)

        results.append({
            'Compound': compound,
            'Q_min': round(Q_min, 3),  
            'Q_max': round(Q_max, 3),  
            'Min Outlier': is_outlier_min,
            'Max Outlier': is_outlier_max
        })

    except ValueError as e:
        print(f"Error for compound {compound}: {e}")

q_dixon_male_2 = pd.DataFrame(results)

if q_dixon_male_2['Min Outlier'].any() or q_dixon_male_2['Max Outlier'].any():
    print("Outliers found in the data. These should be reviewed and possibly removed.")
else:
    print("No significant outliers found in the data. No need for further action.")

q_dixon_male_2

No significant outliers found in the data. No need for further action.

        Compound  Q_min  Q_max  Min Outlier  Max Outlier
0  myristic acid  0.714  0.286        False        False
1   β-sitosterol  0.690  0.310        False        False

In [669]:
q_dixon_male_2.to_excel('data/q_dixon_male_2.xlsx')

In [670]:
## The next step is to eliminate the outliers from the chemical compound concentration results.

In [671]:
myristic_acid_idx = m_concentrations[m_concentrations["Name of the chemical compound"] == "myristic acid"].index
def replace_max_with_nan(row):
    max_value = row.max()
    return row.replace(max_value, np.nan)
m_concentrations.loc[myristic_acid_idx, ["concentrations MALE 1 (µg/g)", "concentrations MALE 2 (µg/g)",
                                         "concentrations MALE 3 (µg/g)", "concentrations MALE 4 (µg/g)"]] = \
    m_concentrations.loc[myristic_acid_idx, ["concentrations MALE 1 (µg/g)", "concentrations MALE 2 (µg/g)",
                                             "concentrations MALE 3 (µg/g)", "concentrations MALE 4 (µg/g)"]].apply(replace_max_with_nan, axis=1)

sitosterol_idx = m_concentrations[m_concentrations["Name of the chemical compound"] == "β-sitosterol"].index
def replace_min_with_nan(row):
    min_value = row.min()
    return row.replace(min_value, np.nan)
m_concentrations.loc[sitosterol_idx, ["concentrations MALE 1 (µg/g)", "concentrations MALE 2 (µg/g)",
                                       "concentrations MALE 3 (µg/g)", "concentrations MALE 4 (µg/g)"]] = \
    m_concentrations.loc[sitosterol_idx, ["concentrations MALE 1 (µg/g)", "concentrations MALE 2 (µg/g)",
                                         "concentrations MALE 3 (µg/g)", "concentrations MALE 4 (µg/g)"]].apply(replace_min_with_nan, axis=1)

m_concentrations

,Unnamed: 0,Name of the chemical compound,concentrations MALE 1 (µg/g),concentrations MALE 2 (µg/g),concentrations MALE 3 (µg/g),concentrations MALE 4 (µg/g)
0,0,lactic acid,12.00,8.79,4.28,4.67
1,1,glycerol,7.15,7.17,5.79,4.51
2,2,myristic acid,NaN,1.11,1.21,1.25
3,3,palmitic acid,159.56,65.66,40.10,44.78
4,4,linoleic acid,49.57,29.02,10.27,33.25
5,5,oleic acid,32.35,20.68,9.26,18.53
6,6,stearic acid,168.35,87.14,51.01,64.16
7,7,methyl ether 3 (unidentified),70.18,38.65,31.04,49.82
8,8,methyl ether 4 (unidentified),174.73,146.79,129.98,271.76
9,9,methyl ether 5 (unidentified),13.59,15.40,8.65,19.36
10,10,methyl ether 6 (unidentified),28.99,23.97,18.37,36.63
11,11,methyl ether 7 (unidentified),141.33,137.98,82.33,153.43
12,12,methyl ether 8 (unidentified),13.40,23.11,10.95,15.52
13,13,methyl ether 9 (unidentified),18.50,44.36,14.83,36.13
14,14,cholesterol,28.70,34.76,14.71,26.78
15,15,β-sitosterol,8.42,8.13,NaN,8.33

In [672]:
m_concentrations.to_excel('data/male_concentrations_after_q_dixon.xlsx')